<!-- <app-favourite [is-Favourite]="post.isFavourite" (change)="onFavoriteChange($event)"></app-favourite> -->
<!-- <h1>Angular</h1>
 <courses></courses>
<app-authors></app-authors>
<app-favourite [is-Favourite]="post.isFavourite" (change)="onFavoriteChange($event)"></app-favourite>
<br>
<br>
<input type="text" [(ngModel)]="titleString">
<br>
{{titleString|titleCase}}
<br> -->
<!-- <bootstrap-panel>
    <ng-container class="heading">Heading</ng-container>
    <div class="body">
        <h2>Body</h2>
        <p>Some content here...</p>
    </div>
</bootstrap-panel>  -->
 
    <!--app-like is custom component 
        Here is-Liked and likeCount are coming from like.components.ts file , and it initial 
        value are set using twee which is in appcomponent.ts ,where we may fetch this tweet using service -->    
    <!-- <app-like [is-Liked]="tweet.isLiked" [likesCount]="tweet.likesCount"></app-like> -->

<!-- (change)="onFavoriteChange() -->
    <!-- <br><br>
<div *ngIf="courses.length>0;then Courses else noCourses">
    
</div>
<ng-template #Courses>
    List of courses
</ng-template>
<ng-template #noCourses>
    No courses yet
</ng-template>


<div [hidden]="author.length==0">
   author
</div>
<div [hidden]="author.length>0">
   No author 
</div>

<ul class="nav nav-pills">
    <li [class.active]="viewMode=='map'"><button (click)="viewMode='map'">Map View</button></li>
    <li [class.active]="viewMode=='list'"><button (click)="viewMode='list'">List View</button></li>
</ul>
<div [ngSwitch]="viewMode">
<div *ngSwitchCase="'map'">Map view Content</div>
<div *ngSwitchCase="'list'">List View Content</div>
<div *ngSwitchDefault>Othrewise</div>
</div>

<br><br> -->
<!-- <button (click)="onAdd()">Add</button> -->
<!-- <button (click)="loadCourses()">Load Courses</button> -->
<!-- <ul>
    <li *ngFor="let course of coursesarr;index as i ; even as isEven">
        {{i}}-{{course.name}}<span *ngIf="isEven">(EVEN)</span><button (click)="onRemove(course)">Remove</button>
    </li>
</ul> -->
<!-- <ul>
    <li *ngFor="let course of courses_arr;index as i ; even as isEven;trackBy:trackCourse ">
        {{i}}-{{course.name}}<span *ngIf="isEven">(EVEN)</span><button (click)="onRemove(course)">Remove</button>
    </li>
</ul>
<br><br>
<button
 [ngStyle]="{
     'backgroundColor':canSave?'blue':'grey',
     'color':canSave?'while':'black'
     
 }"
>SAVE</button><br><br>
<span>{{ task.assignee?.name}}</span>

<br><br>

<input type="text" appInputFormat [format]="'uppercase'">

<br><br> -->
<!-- <zippy title="Shipping Details">
    Shipping Details Content
</zippy>

<contact-form></contact-form>
<udemy-course-form></udemy-course-form>
<br><br> -->

<!-- <post-component></post-component> -->
<!-- <app-github></app-github> -->
<navbar></navbar>
<router-outlet></router-outlet>